<div class="panel panel-primary">
    <div class="panel-heading" align='center'>
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="text-center">
                <h3>Proof of Concepts Demo Application using <img src="./app/assets/images/Angularjs-large.png" style="max-height:75px;padding-bottom:20px"
                    />
                    <u> Version 2.0.0-snapshot (30-Sep-2015) </u>
                </h3>
                <h4><b> This is a small app used to demonstrate below Angular 2 concepts : </b></h4>
            </div>
        </div>
    </div>
    <div width='400px' align='center'>
        <table>
            <tr>
                <td>
                    <ul>
                        <li>
                            <h4>Project Setup / Structure</h4>
                            <ul>
                                <li>IDE Setup</li>
                                <li>Boilerplate Setting files</li>
                                <li>Meaning of SPA - Single Page Application</li>
                                <li>Angular 2 libraries / Packages</li>
                            </ul>
                        </li>
                        <li>
                            <h4>Introduction to Typescript</h4>
                            <ul>
                                <li>New Typescript coding style</li>
                                <li>Javascript Object Notation - JSON</li>
                                <li>Java style concepts like interfaces, DTOs,classes, Constructor Injection etc. </li>
                            </ul>
                        </li>
                        <li>
                            <h4>Data Binding</h4>
                            <ul>
                                <li>Interpolation - Curly braces {}</li>
                                <li>One way property binding - Square braces []

                                    <ul>
                                        <li><b>Html Element</b> property binding eg, <b><img</b> [src]="expression" ..</li>
                                            <li>Angular2 Component property binding eg, &lt;raj-component [vehicle]="expression"></li>
                                            <li>Angular2 Directive property binding eg, &lt;div [<b>ngClass</b>]="expression" </li>
                                            <li><b>Attribute</b> binding eg, &lt;button [<b>attr.</b>aria-label]="expression"</li>
                                            <li><b>Class</b> property binding eg, &lt;div [<b>class.</b>isExist]="expression"</li>
                                            <li><b>Style</b> property binding eg, &lt;button [<b>style.</b>color]="expression"</li>
                                    </ul>

                                    </li>
                                    <li>Event binding - Round braces ()</li>
                                    <li>Two way property binding - Banana in a box [()]</li>

                            </ul>
                            </li>
                            <li>
                                <h4>Angular 2 Fundamentals</h4>
                                <ul>
                                    <li>Components vs Controllers , Bootstrapping</li>
                                    <li>Structural Directives, Dependency Injection, Events</li>
                                    <li>Component Lifecycle Hooks</li>
                                    <li>Promises vs Observables using rxjs / React extensions </li>
                                    <li>Clean Data Services using http, router services</li>
                                    <li>Error Handling</li>
                                </ul>
                            </li>

                            <li>
                                <h4>Filters / Pipes </h4>
                                <ul>
                                    <li>Filtering lists</li>
                                    <li>Writing Custom Filters</li>
                                </ul>
                            </li>
                            <li>
                                <h4>Routing</h4>
                                <ul>
                                    <li>Navigation to different components</li>
                                    <li>Passing Parameters to Routes using RouteParams service</li>
                                </ul>
                            </li>
                            <li>
                                <h4>Micellaneous</h4>
                                <ul>
                                    <li>Nested Components</li>
                                </ul>
                            </li>
                    </ul>
                </td>
                <tr>
        </table>        
        <h4 class="text-center"><button class="btn btn-primary" (click)='getProductList()'>Product List</button></h4>

    </div>
</div>