<div class="panel panel-primary">
    <div class="panel-heading" align='center'>
                Angular 1  vs Angular 2
    </div>
      
    <div class="panel panel-primary" align='center'>
        <table>
            <thead><tr><th>Directive </th><td width='100px'> </td><th>Structural Directive</th></tr></thead>
            <tbody><tr><td>ng-if </td> <td width='100px'> </td><td>*ngIf</td></tr></tbody>
            <tbody><tr><td>ng-repeat </td><td width='100px'> </td> <td>*ngFor</td></tr></tbody>
        </table>
    </div>

    <div class="panel panel-primary" align='center'>
        <table>
            <thead><tr><th>Controller has the business logic</th><td width='100px'> </td><th>Component has the business logic</th></tr></thead>
            <tbody><tr><td>ng-controller.. as an tag attribute</td> <td width='100px'> </td><td>@Component({})..used as a decorator</td></tr></tbody>
            <tbody><tr><td>ES2015 Javascript </td> <td width='100px'> </td><td>ES6 Typescript</td></tr></tbody>
            <tbody><tr><td>Modules which serve as containers for directives, controllers, services</td> <td width='100px'> </td>
                            <td>wrapped as classes and exported, no more modules</td></tr></tbody>
        </table>
    </div>
      
</div>